/* Global style   */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(51, 51, 51);
  font-family: "Open Sans", sans-serif;
}

button {
  font-family: "Open Sans", sans-serif;
}

path,
i,
svg {
  pointer-events: none;
}

/* Colors stlye */
.colors {
  display: flex;
  min-height: 80vh;
}

.color {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 80vh;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative;
}

.color h2 {
  cursor: pointer;
  font-size: 2rem;
}

.sliders {
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  pointer-events: none;
  position: absolute;
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
  width: 80%;
  opacity: 0;
}

.sliders.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

.sliders button {
  background-color: rgb(107, 107, 107);
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
}

.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: space-evenly;
}

.panel button {
  background-color: rgb(7, 27, 43);
  border-radius: 1rem;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
}

.panel p {
  font-size: 1.2rem;
}

.library-pane,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust,
.lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0rem;
}
